{
        email you@kitara.space
        metrics {
                per_host
                observe_catchall_hosts
        }
}

minio.kitara.space {
        reverse_proxy 192.168.0.204:9001
}

s3.kitara.space {
        reverse_proxy 192.168.0.204:9000
}

woodpecker.kitara.space {
        reverse_proxy 192.168.0.202:8000
}

nexus.kitara.space {
        reverse_proxy 192.168.0.201:8081
}

*.kitara.space {
        tls {
                dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        }
        respond "Yeah someday you will land in k8s service."
}